h1{
margin-top: 20px;
margin-left: 10px;
}

.contenedor{
    margin-left: 0px;
    margin-right: 0px;
}

.number{
    font-size: 30px;
    margin-bottom: 15px;
}

.separacion{
    margin-bottom: 25px;
}
