h1{
    margin-top: 20px;
    margin-left: 10px;
}

.agregar{
    color: #fff;
    background-color: rgb(47, 144, 205);
    margin-top: 20px;
    margin-left: 15px;
}

.user-title{
    display: flex;
    justify-content:initial;
}

.mat-icon-button{
    height: 30px;
    width: 30px;
    line-height:30px;
}