.full-width{
    width: 100%;
}

.mat-radio-button {
    margin: 15px 12px 35px 0;
}


.exp{
    margin-top: 20px;
}

.register-btn{
    background-color: #03a9f4;
    color: #fff;
    margin-top: 15px;
    width: 90px;
    margin-bottom: 10px;
}

  